[submodule "ArtisanDream.Tools"]
	path = ArtisanDream.Tools
	url = https://github.com/Solange88/ArtisanDream.Tools.git
[submodule "UnityProject/Unity_Project/Unity_Project/Unity_Project1/Assets/ArtisanDream.Tools"]
	path = UnityProject/Unity_Project/Unity_Project/Unity_Project1/Assets/ArtisanDream.Tools
	url = https://github.com/Solange88/ArtisanDream.Tools.git
